@import url("https://fonts.googleapis.com/css2?family=Source+Sans+Pro&display=swap");

*::selection {
  background-color: #211;
  color: #fcc;
}

body {
  margin: 0px;
  background-color: rgb(255, 204, 204);
  color: #211;
  font-size: larger;
  font-family: "Source Sans Pro", "Roboto Mono", monospace;
}

a {
  text-decoration: none;
}

img {
  max-width: 32%;
  width: 128px;
  height: auto;
  margin: 1%;
}

img:hover {
  filter: invert(0.2);
}

img:active {
  filter: invert(1);
}

.invert {
  background-color: #211;
  color: #fcc;
  margin: 0px;
  padding: 32px;
}
.invert::selection {
  background-color: #fcc;
  color: #211;
}

/*.invert img {
    filter: invert(1);
    filter: ;
}*/

section {
  padding: 16px;
}

h1 {
  font-size: 48px;
}

h3 {
  font-size: 32px;
}
